{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cn"],
  "singleQuote": true,
  "trailingComma": "es5"
}
