@import "tailwindcss";
@layer components {
    .main {
        position: relative;
        max-width: 100%;
        top: 0;
        margin-inline: auto;
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 6);

        @media (width >=40rem) {
            padding-inline: calc(var(--spacing) * 6);
        }

        @media (width >=48rem) {
            padding-inline: calc(var(--spacing) * 8);
        }

        @media (width >=64rem) {
            padding-inline: calc(var(--spacing) * 10);
        }

        @media (width >=80rem) {
            padding-inline: calc(var(--spacing) * 12);
        }
        @media (width >=96rem) {
            padding-inline: calc(var(--spacing) * 14);
        }
    }

    .btn-primary {
        border-radius: var(--radius-lg);
        background-color: var(--color-violet-500);
        padding-inline: calc(var(--spacing)*4);
        padding-block: calc(var(--spacing) * 1);
        font-size: var(--text-sm);
        font-weight: var(--font-weight-semibold);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing)*2);
        color: var(--color-white);
        box-shadow: var(--shadow-md);
        border-width: calc(var(--border-width-2));
        border-color: var(--color-violet-500);
        transition: 200ms all ease-in-out;
        cursor: pointer;
        position: relative;
        min-height: fit-content;
        min-width: fit-content;

        &:hover {
            @media (hover: hover) {
                background-color: var(--color-violet-700);
                border-color: var(--color-violet-700);
            }
        }
    }

    .btn-secondary {
        border-radius: var(--radius-lg);
        background-color: var(--color-gray-700);
        padding-inline: calc(var(--spacing)*4);
        padding-block: calc(var(--spacing) * 1);
        font-size: var(--text-sm);
        font-weight: var(--font-weight-semibold);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing)*2);
        color: var(--color-white);
        box-shadow: var(--shadow-md);
        border-width: calc(var(--border-width-2));
        border-color: var(--color-gray-700);
        transition: 200ms all ease-in-out;
        cursor: pointer;
        position: relative;
        min-height: fit-content;
        min-width: fit-content;

        &:hover {
            @media (hover: hover) {
                background-color: var(--color-gray-900);
                border-color: var(--color-gray-900);
            }
        }
    }

    .btn-outline {
        border-radius: var(--radius-lg);
        background-color: var(--color-violet-50);
        padding-inline: calc(var(--spacing)*4);
        padding-block: calc(var(--spacing) * 1);
        font-size: var(--text-sm);
        font-weight: var(--font-weight-semibold);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing)*2);
        color: var(--color-violet-800);
        box-shadow: var(--shadow-md);
        border-width: calc(var(--border-width-2));
        border-color: var(--color-violet-800);
        transition: 200ms all ease-in-out;
        cursor: pointer;
        position: relative;
        min-height: fit-content;
        min-width: fit-content;

        &:hover {
            @media (hover: hover) {
                border-color: var(--color-violet-950);
                color: var(--color-violet-950);
            }
        }
    }
}